* {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

header {
    background-color: #9BE7CC;
    padding: 1px;
    padding-left: 15px;
}
body {
    background-color: #C4F1E1;
}

input {
    color: gray;
  }

.writing-input {
    color: black;
}

table, th, td {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
    border-spacing: 0px;
}

table {
    width: 80%;
}

th {
    background-color: #9BE7CC;
}